:root {
--pColor:     #00738e;
--pLightColor:#4da2be;
--pDarkColor: #004761;
--pTextColor: #ffffff;
}

body{
  background: #1D5C7C;
}

.hide{display: none;}
.orange{color:#FFA500;}
.img{width: 100%; height: auto;}
img{
  height: 72px;
  width: 72px;
}

/*grid*/
* { box-sizing: border-box; }
[class*="l-"] {float: left; }
.l-fit{ width:auto; } .l-none{display:none; } .l-block{display:block; }
.l-1 {width: 8.33%; } .l-2 {width: 16.66%; } .l-3 {width: 25%; } .l-4 {width: 33.33%; } .l-5 {width: 41.66%; } .l-6 {width: 50%; }
.l-7 {width: 58.33%; } .l-8 {width: 66.66%; } .l-9 {width: 75%; } .l-10 {width: 83.33%; } .l-11 {width: 91.66%; } .l-12 {width: 100%; }

.row::after { content: ""; clear: both; display: table; }
/* .row::after { content: ""; clear: both; display: table; border: 1px solid red; } */
@media (min-width: 30em) {
.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; }
}

@media only screen and (max-width: 34em) {
[class*="s-"] { float: left; width: 100%; /*box-sizing: border-box; */}
.gal {width: 33.33%; }.s-none{display:none; } .s-block{display:block; }
.s-1 {width: 8.33%; } .s-2 {width: 16.66%; } .s-3 {width: 25%; } .s-4 {width: 33.33%; } .s-5 {width: 41.66%; } .s-6 {width: 50%; }
.s-7 {width: 58.33%; } .s-8 {width: 66.66%; } .s-9 {width: 75%; } .s-10 {width: 83.33%; } .s-11 {width: 91.66%; } .s-12 {width: 100%; }
}

/* input */
input[type=text], input[type=date], input[type=number], input[type=file], input[type=password], select, textarea, .input {
background:white; width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; box-sizing:border-box; margin-top:5px; margin-bottom:10px; resize:vertical; }
input[type=submit], button, input[type=button], .slcBtn{background:#000000; padding:12px 20px; border:none; border-radius:4px; cursor:pointer; margin:2px;color:white; }

/* table */
.table { overflow: auto; }
.table table { border-collapse:collapse; border-spacing:0; width:100%; color: #000; }
.table tr { background:#f8f8f8; }
.table tr:nth-child(even){ background:var(--pPage) }
.table th { height:37px; }
.table th,.table td { border:none; text-align:left; padding:8px; }


.gading{
background: #F2F3EB;
}

#page5{
padding: 20px 0px;
color: #ffffff;
}
#page4{
border-bottom: 5px solid black;
background: #ffffff;
}
#page3{
  border-bottom: 15px solid #F4F4F4;
  background: #D5EAF5;
}
.judul{
  font-size: 2em;
}
.judul2 {
  font-size: 4em;
  line-height: 1em;
}
.artikel{
  padding: 20px 30px;
font: normal 12px Georgia, "Times New Roman", Times, serif;
color: #000000;
line-height: 1.8em;
margin: 0;
}
/* #page2{ background: black;  float: left;padding: 20px 0px;} */
/* #page2 a{ padding: 20px 30px; text-decoration: none; color:#ffffff;} */
/* #page2 a:hover{  background-image: linear-gradient(#353535, black);} */
#page1{   font-size: 2em;  padding: 20px 0px; color: white;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
 background-image: linear-gradient(#353535, black);
}


.kiri{float: left;}
.kanan{float:right;
right: 0;
}
